:root {
  --mainText:  rgba(255, 255, 245, 0.86);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

strong, b {
  font-weight: bold;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--mainText);
  font-size: 12px;
  user-select: none;
}
